<div id="waitingpcContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2><%= lang('waiting.playclan') %></h2>
        </div>
    </div>
</div>