<div id="waitingpcContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>V치rkoz치s a PlayClan v치lasz치ra...</h2>
        </div>
    </div>
</div>