<div id="waitingpcContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2><%= lang('waiting.playclan') %></h2>
        </div>
        <div id="loginOptionCancelContainer2">
            <button id="loginOptionCancelButton2"><%= lang('loginOptions.cancel') %></button>
        </div>
    </div>
    <script src="./assets/js/scripts/waitingpc.js"></script>
</div>